/* Todo el HTML */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea{
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.screen {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: antiquewhite;
}

aside {
  padding: 2rem;
  color: white;
  position: sticky;
  top: 0px;
  height: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header img {
  width: 200px;
}

.boton-categoria {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
}

.boton-categoria:active {
  background-color: aqua;
  color: black;
  width: 100%;
  position: relative;
}


main {
  background-color: white;
  margin: 1rem;
  border-radius: 2rem;
  padding: 3rem;
  margin-left: 0;
}

.titulo-principal {
  color: rebeccapurple;
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.producto-imagen {
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color: red;
  color: white;
  padding: .5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .4;
}

.producto-titulo {
  font-size: 1rem;
}

.producto-agregar {
  border: 0;
  border-radius: 1rem;
  background-color: white;
  color: red;
  padding: .25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s, color, .2s ;
}

.producto-agregar:hover {
  opacity: .4;
}




