/* Header */
header {
    background-color: $color3;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 1;
    align-items: center;
    margin-bottom: 20px;
}

#carrito {
    background-image: url(../img/carrito.png);
    padding: 30px;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: $color3;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: $color4;
    color: white;
    margin-top: 2px;
    div {
        p {
            text-align: center;
        }
    }
}