/* Aplico la fuente de Google Fonts a todo el HTML */
* {
    font-family: 'Work Sans', sans-serif;
}

/* Colores */

$color-primario: #ada8b6;
$color-secundario: #FFEEDB;
$color3: #4C3B4D;
$color4: #A53860;
$color5: #61C9A8